@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

/*Для паттерна Sticky footer*/
.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Центровка страницы */
.page-container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
}

/*Цвет фона страницы*/
.body-background-pink {
  background-color: #feafc3;
}

.body-background-blue {
  background-color: #69a9ff;
}

.body-background-yellow {
  background-color: #fcc850;
}

/*Header*/
.main-header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.logo {
  margin-right: 17px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.navigation-logo:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
  border-radius: 8px;
}

/*Навигация*/
.navigation {
  display: flex;
}

.navigation-list {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  display: block;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus-visible {
  outline: 2px solid #000000;
  border-radius: 30px;
}

/*Header catalog popover*/
.navigation-button-wrapper {
  position: relative;
}

.navigation-wrapper-popover {
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  min-width: 135px;
  top: 44px;
}

.navigation-wrapper-list {
  padding: 14px 14px 4px 16px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.navigation-wrapper-item {
  margin-bottom: 10px;
}

.navigation-wrapper-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.new-catalog {
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}

.new-catalog::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #b9b9b9;
  position: absolute;
  bottom: -12px;
  left: 0;
}

/*User container*/
.user-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 12px;
}

.user-button {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  padding: 6px 16px;
  display: flex;
}

.user-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-button:active {
  background-color: #fcfcfc;
}

.user-button:focus-visible {
  outline: 2px solid #000000;;
}

.search-container-button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  display: flex;
  gap: 6px;
}

.login-button svg{
  margin-top: 1px;
}

.recycle-bin-button {
  display: flex;
  gap: 8px;
}

.recycle-bin-button svg{
  margin-top: 3px;
}

/*Номер телефона*/
.contact-number {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin-right: 1px;
  display: block;
  align-items: flex-start;
  padding: 6px 0;
  border-radius: 30px;
}

.contact-number:hover {
  opacity: 0.6;
}

.contact-number:active {
  opacity: 0.3;
}

.contact-number:focus-visible {
  outline: 2px solid #000000;
}

/*Поле поиска*/
.search-form {
  display: none;
}

/*Поля ввода логина и пароля*/
.login-popover {
  display: none;
}

/*Выбранные товары в корзине*/
.recycle-bin-popover {
  display: none;
}

/*Пустая корзина*/
.recycle-bin-empty {
  display: none;
}
