@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

/*Для паттерна Sticky footer*/
.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Центровка страницы */
.page-container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
}

/*Цвет фона страницы*/
.body-background-pink {
  background-color: #feafc3;
}

.body-background-blue {
  background-color: #69a9ff;
}

.body-background-yellow {
  background-color: #fcc850;
}

/*Header*/
.main-header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.logo {
  margin-right: 17px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.navigation-logo:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
  border-radius: 8px;
}

/*Навигация*/
.navigation {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
}

.navigation-list {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  max-width: 550px;
  flex-wrap: wrap;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  display: block;
  border-radius: 30px;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-link:active {
 background-color: #fcfcfc;
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
}

.selected-navigation-link {
  background-color: #ff4a78;
  color: #fcfcfc;
}

/*Header catalog popover*/
.navigation-button-wrapper {
  position: relative;
}

.navigation-wrapper-popover {
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  min-width: 135px;
  top: 44px;
  z-index: 1;
}

.navigation-wrapper-list {
  padding: 10px 0 8px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.navigation-wrapper-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  display: flex;
  padding: 6px 14px 6px 16px;
}

.navigation-wrapper-link:hover {
  background-color: #ffcbd8;
}

.navigation-wrapper-link:active {
  background-color: #ff7799;
}

.new-catalog {
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}

.new-catalog::after {
  content: "";
  width: calc(100% - 34px);
  height: 1px;
  background-color: #b9b9b9;
  position: absolute;
  bottom: -6px;
  margin-left: 16px;
}

/*User container*/
.user-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 12px;
}

.user-button {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  padding: 6px 16px;
  display: flex;
}

.user-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-button:active {
  background-color: #fcfcfc;
}

.user-button:focus-visible {
  outline: 2px solid #000000;;
}

/*Поле поиска*/
.search-container {
  position: relative;
}

.search-container-button {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Номер телефона*/
.contact-number {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin-right: -9px;
  display: block;
  align-items: flex-start;
  padding: 6px 10px;
  border-radius: 30px;
}

.contact-number:hover {
 background-color: rgba(252, 252, 252, 0.5);
}

.contact-number:active {
  background-color: #fcfcfc;
}

.contact-number:focus-visible {
  background-color:  rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
}

/*Поле поиска*/
.search-form {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  right: 0;
}

.search-field {
  width: 325px;
  box-sizing: border-box;
  padding: 13px 16px;
}

.text-field {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  color: #2d3440;
}

.text-field::placeholder {
  color: #b9b9b9;
}

.text-field:hover {
  border-color: #2d3440;
}

.text-field:focus-visible{
  outline: 2px solid #2d3440;
}

/*Стилизация ошибки*/
.text-field:invalid {
  outline: 1px solid #ea5454;
  border-color: transparent;
}

.text-field:placeholder-shown:invalid:hover {
  outline: 2px solid #ea5454;
  border-color: transparent;
}

/*закомментировал до момента, когда смерджу в мастер*/
/*.text-field:placeholder-shown {*/
/*  outline: 1px solid #b9b9b9;*/
/*  border-color: transparent;*/
/*}*/

.text-field:disabled {
  background-color: #e7e7e7;
}

.text-field:disabled:hover {
  background-color: #e7e7e7;
  color: rgba(45, 52, 64, 0.65);
}

  /*Поля ввода логина и пароля*/
.login-button {
  display: flex;
  gap: 6px;
}

.login-button svg{
  margin-top: 1px;
}

.login-container {
  position: relative;
}

.login-popover {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  width: 420px;
  box-sizing: border-box;
  right: 0;
  top: 40px;
  z-index: 1;
}

.login-input {
  padding: 13px 16px;
  margin-bottom: 16px;
  width: 324px;
  box-sizing: border-box;
}

.login-link-container {
  display: grid;
  grid-template-columns: 136px 1fr;
  justify-items: start;
  align-items: start;
  row-gap: 4px;
}

.login-submit-button {
  grid-row: span 2;
  grid-column: 1/2;
}

/*Popovers*/
.popover-title {
  line-height: 30px;
  margin: 0 0 32px;
  color: #2d3440;
}

.password-input {
  padding: 13px 16px 13px 13px;
  width: 324px;
  box-sizing: border-box;
  letter-spacing: -1px;
  margin-bottom: 32px;
}

.login-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  position: relative;
  grid-column: 2/3;
}

.login-link:hover {
  opacity: 0.6;
}

.login-link:active {
  opacity: 0.3;
}

.login-link:focus-visible {
  outline: 2px solid #feafc3;
  border-radius: 10px;
}


.login-link::after {
  content: "";
  position: absolute;
  background-color: #2d3440;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}


/*Дополнительная общая кнопка*/
.additional-button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  background-color: #ff2f64;
  border-radius: 26px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  border: none;
  padding: 12px 32px;
  cursor: pointer;
  text-decoration: none;
}

.additional-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #ff2f64;
  color: #2d3440;
}

.additional-button:active {
  background-color: #feafc3;
  color: #fcfcfc;
  outline-color: #2d3440;
  outline-width: 2px;
}

.additional-button:focus-visible {
  outline-color: #2d3440;
  outline-width: 2px;
}

.additional-button:disabled {
  color: #565C66;
  background-color: #b9b9b9;
  outline-color: rgba(185, 185, 185, 0.3);
}

/*Корзина*/
.recycle-bin-container {
  position: relative;
}

.recycle-bin-button {
  display: flex;
  gap: 8px;
}

.recycle-bin-button svg{
  margin-top: 3px;
}

/*Корзина с товаром*/
.recycle-bin-popover {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  right: -1px;
  top: 40px;
  width: 441px;
  padding: 48px;
  box-sizing: border-box;
  z-index: 1;
}

.recycle-bin-list {
  margin: 0 0 65px 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.recycle-bin-list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
  bottom: -32px;
  left: 0;
}

.recycle-bin-item {
  margin-bottom: 24px;
  display: grid;
  grid-template-areas:
"link price delete"
"link price delete";
  justify-content: start;
  grid-template-columns: 225px 98px 22px;
}

.recycle-bin-item:last-child {
  margin-bottom: 0;
}

.recycle-bin-link {
  grid-area: link;
  text-decoration: none;
  display: grid;
  grid-template-areas:
  "image name"
  "image weight";
  justify-content: start;
  grid-template-columns: 61px 164px 98px;
}

.recycle-bin-link:hover {
  opacity: 0.6;
}

.recycle-bin-link:active {
  opacity: 0.3;
}

.recycle-bin-link:focus-visible {
  outline: 2px solid #ff4a78;
  border-radius: 10px;
}

.recycle-bin-image {
  grid-area: image;
}

.cart-item-name {
  grid-area: name;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2d3440;
}

.cart-item-weight {
  grid-area: weight;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.cart-price {
  grid-area: price;
  margin: 13px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  color: #2d3440;
}

.cart-delete-button {
  grid-area: delete;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 16px 0 0 4px;
  align-self: start;
}


.cart-delete-button:hover {
  opacity: 0.6;
}

.cart-delete-button:active {
  opacity: 0.3;
}

.cart-delete-button:focus-visible {
  outline: 2px solid #ff4a78;
  border-radius: 10px;
}

.total-price {
  margin: 12px 0 0;
  font-weight: 700;
  font-size: 18px;
  justify-self: end;
}

.bottom-bin-container {
  display: grid;
  grid-template-columns: 205px 1fr;
  justify-items: start;
  align-items: start;
  gap: 10px;
}


/*Пустая корзина*/
.recycle-bin-empty {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  right: 0;
  top: 40px;
  width: 288px;
  min-height: 156px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 20px;
}

/*Закрытый popover*/
.popover-is-closed {
  display: none;
}

.empty-bin-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

/*Tooltip*/
.tooltip-toggle {
  background-image: url("/images/main/delivery/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: transparent;
}

.tooltip-text {
  background-color: #fcfcfc;
  color: #565c66;
  border-radius: 1px;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  padding: 10px 8px;
  width: 162px;
  position: absolute;
  top: -22px;
  right: -91px;
  transform: translate(50%, 15px);
  display: none;
  z-index: 1;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after, .tooltip-text::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -8px;
  border: 7px solid transparent;
  border-right: 7px solid #b9b9b9;
  transform: translate(-50%);
}

.tooltip-text::after {
  border: 7px solid transparent;
  border-right: 7px solid #fcfcfc;
  left: -7px;
  top: 8px;
}

.date-tooltip {
  position: relative;
  margin-left: 1px;
}

/*delivery styles*/
.delivery-container label {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-form-text {
  margin: 0 0 31px;
  grid-area: text;
}

.date-container {
  grid-area: date;
  margin-bottom: 20px;
}

.label-date-container {
  margin-bottom: 8px;
}

.input-delivery-date {
  width: 115px;
  box-sizing: border-box;
  padding: 12px 14px;
}

.number-container {
  grid-area: number;
  display: flex;
  flex-direction: column;
}

.label-delivery-number {
  margin-top: 1px;
  margin-bottom: 8px;
}

.input-delivery-number {
  padding: 13px 15px 12px 15px;
  margin-bottom: 20px;
}

.address-container {
  grid-area: address;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.input-delivery-address {
  padding: 14px 16px 10px 16px;
}

.label-address-container {
  margin-bottom: 8px;
}

.delivery-button {
  grid-area: button;
  justify-self: center;
}

/*Блок акций*/
.promotions {
  margin-bottom: 82px;
}

.promo-words {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  max-width: 435px;
  margin: 0 auto;
  text-align: center;
}

.promo-list {
  margin: 53px 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: start;
}

.promo-item {
  background: #ff7799;
  border-radius: 16px;
  padding: 37px 0 35px 36px;
  display: grid;
  grid-template-columns: 1fr 217px;
  position: relative;
}

.left-promo-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.promo-title {
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
}

.promo-description {
  color: #2d3440;
  margin: 28px 0 0;
}

.promo-button {
  margin-top: 28px;
}

.promo-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*Стиль обычной кнопки*/
.general-button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #fcfcfc;
  border: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  padding: 12px 32px;
}

.general-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline-color: #fcfcfc;
}

.general-button:active {
  background-color: #fcfcfc;
  outline-color: #2d3440;
  outline-width: 2px;
}

.general-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline-color: #2d3440;
  outline-width: 2px;
}

.general-button:disabled {
  font-weight: 400;
  color: #b9b9b9;
  background-color: #e7e7e7;
  outline-color: rgba(252, 252, 252, 0.4);
  outline-width: 4px;
}

/*Слайдер*/
.slider-group {
  position: relative;
  margin-bottom: 77px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  width: 346px;
  position: absolute;
  z-index: 1;
  top: 278px;
  right: 280px;
}

.slider-control-button {
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  outline: 2px solid #fcfcfc;
  border-radius: 50%;
  padding: 0;
  color: #fcfcfc;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.slider-control-button:first-child {
  transform: rotate(180deg);
}

.slider-control-button:hover {
  color: #2d3440;
  background-color: #fcfcfc;
}

.slider-control-button:focus-visible {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #2d3440;
  outline-width: 2px;
  outline-offset: -1px;
}

.slider-control-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
}

.slider-control-button:active {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: rgba(252, 252, 252, 0.3);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 150px;
}

.slider-item {
  display: grid;
  grid-template-columns: 500px 1fr;
  position: relative;
  flex-shrink: 0;
}

.slider-number-1 {
  /*display: none;*/
}

.slider-number-2 {
  display: none;
}

.slider-number-3 {
  display: none;
}

.slider-container {
  margin: 155px 0 142px 70px;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 0 25px;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  margin: 0 0 47px;
}

/*Pagination*/
.slider-pagination {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 9px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-pagination-button {
  cursor: pointer;
  padding: 0;
  width: 11px;
  height: 11px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  outline: 1px solid rgba(252, 252, 252, 0.3);
}

.slider-pagination-button:hover {
  outline-color: #fcfcfc;
}

.slider-pagination-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid rgba(252, 252, 252, 0.5);
}

.slider-pagination-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #2d3440;
}

/*Кнопка пагинации выбранного слайдера*/
.selected-button-slider {
  background-color: #fcfcfc;
  outline-color: #fcfcfc;
}

/*Стилизация фоток мороженого*/
.slider-images-list {
  margin: 39px 0 0 61px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.slider-image-item {
  position: relative;
}

.slider-image-item:first-child{
  margin-right: 68px;
}

.slider-image-item:nth-child(n+2) {
  width: 90px;
  margin-top: 5px;
  margin-right: 50px;
  opacity: 0.4;
}

.slider-image-item:nth-child(n+3) {
  margin-right: 0;
}

/*Защита от переполнения*/
.slider-image-item:nth-child(n+4) {
  display: none;
}

/*Задний фон мороженого*/
.slider-image-item:first-child::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.36);
  top: 100px;
  left: 0;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  z-index: -1;
}

.slider-image-item:nth-child(n+2)::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.36);
  top: 204px;
  left: -5px;
  width: 99px;
  height: 99px;
  border-radius: 50%;
  z-index: -1;
}

/*Кнопки социальных сетей*/
.social-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 16px;
  position: absolute;
  right: -5px;
  bottom: 4px;
}

.social-link {
  width: 24px;
  height: 24px;
  display: block;
  color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: none;
  outline-offset: 0;
  position: relative;
}

.social-link:hover::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #2d3440;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}

.social-link:active {
  opacity: 0.5;
}

.social-link:focus-visible {
  outline: 2px solid #2d3440;
  background-color: #2d3440;
}

/*Список популярного мороженого*/
.goods-block-text {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 auto 107px;
  text-align: center;
  max-width: 527px;
}


.goods-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
  align-items: start;
}

.goods-item {
  position: relative;
  background-color: #fcfcfc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.goods-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 135px 39px 29px;
  border-radius: 8px;
}

.goods-link:hover {
  opacity: 0.6;
}

.goods-link:active {
  opacity: 0.3;
}

.goods-link:focus-visible {
  outline: 3px solid #2d3440;
  outline-offset: -1px;
}

.product-image {
  position: absolute;
  top: -50px;
}

.product-title {
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin: -2px 0 9px
}

.product-description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin: 0 0 19px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  align-self: flex-start;
  margin-left: 1px;
  max-width: 152px;
}

.product-button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ff2f64;
  background-color: #ff2f64;
  width: 32px;
  height: 32px;
  color: #fcfcfc;
  position: absolute;
  bottom: 25px;
  right: 40px;
}

.product-button svg{
  position: absolute;
  transform: translate(-50%, -50%);
}

.product-button:hover {
  color: #000000;
  background-color: #fcfcfc;
}

.product-button:active {
  color: #000000;
  background-color: #ffcbd8;
}

.product-button:focus-visible {
  border-color: #2d3440;
}

.product-button:disabled {
  background-color: #b9b9b9;
  border-color: #b9b9b9;
  color: #565c66;
}

/*Блок особенностей*/
.peculiarities {
  margin-bottom: 100px;
  background-image: url("/images/main/peculiarities/wafer.jpg");
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
}

.peculiarities-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 56px 40px;
}

.peculiarities-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin: 0 0 56px;
}

.peculiarities-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 505px);
  gap: 40px 32px;
}

.peculiarities-text {
  margin: 0;
  padding-left: 64px;
}

/*Иконки для каждого элемента списка*/

.ice-cream-icon {
  background-image: url("/images/main/peculiarities/ice-cream-icon.svg");
  background-repeat: no-repeat;
}

.cow-icon {
  background-image: url("/images/main/peculiarities/cow-icon.svg");
  background-repeat: no-repeat;
}

.leaf-icon {
  background-image: url("/images/main/peculiarities/leaf-icon.svg");
  background-repeat: no-repeat;
}

.thermometer-icon {
  background-image: url("/images/main/peculiarities/thermometer-icon.svg");
  background-repeat: no-repeat;
}

/*Доставка*/
.delivery {
  padding: 64px 64px 68px 100px;
  background-image: url("/images/main/delivery/delivery-background.jpg");
  background-repeat: no-repeat;
  background-size: 1215px auto;
  background-position: 2px -138px;
  background-color: #f3f3f4;
  border-radius: 16px;
  display: grid;
  align-items: start;
  grid-template-columns: 372px 500px;
  column-gap: 135px;
}

.delivery-left-container {
  grid-column: 1 / 2;
}

.delivery-large-text {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 103px 0 24px;
}

.delivery-small-text {
  margin: 0;
}

/*Контейнер формы отправки*/
.delivery-container {
  padding: 40px 42px 40px 39px;
  grid-column: 2 / 3;
  align-items: start;
  display: grid;
  align-content: start;
  grid-template-areas:
  "text text"
  "date number"
  "address address"
  "button button";
  grid-template-columns: 115px 1fr;
  background-color: #fcfcfc;
  border-radius: 8px;
  column-gap: 18px;
}
